html { /* Applique le fond "planche de bois" sur toute la page */
	background: fixed center / cover url('../img/fond.jpg');
}

body { /* Désactive les marges par défaut */
	padding: 0;
	margin: 0;
}

header { /* Centre le titre et ajoute un fond dégradé */
	text-align: center;
	background: linear-gradient(rgba(0,0,0,0.7), transparent);
}

header h1 { /* Change la police, la couleur et ajoute une ombre au titre */
	display: inline-block;
	font-family: "Cantarell Thin";
	font-size: 40px;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 2px rgba(0,0,0,0.4);
}

main { /* Disposition en grille des photos */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-gap: 16px;
	width: 900px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

figure { /* Ajoute une ombre et fait un carré blanc */
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: grid;
	grid-template-rows: 4fr 1fr;
	grid-row-gap: 10px;
	background: #fff;
	/* bonus */
	transform: rotate(-1deg);
	transition: transform 0.15s linear;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

figure:nth-child(3n + 1) { /* Rotation "aléatoire" */
	transform: rotate(2deg);
}

figure:nth-child(3n + 2) { /* Rotation "aléatoire" */
	transform: rotate(0.5deg);
}

figure:hover { /* Désactive la rotation au survol */
	transform: none;
}

figure img { /* Positionne l'image sur la photo en temps normal, avec un filtre sepia */
	width: 100%;
	/* bonus */
	filter: sepia(30%);
	transition: filter 0.1s linear;
}

figure:hover img { /* Supprime le filtre sepia au survol */
	filter: none;
}

figure figcaption { /* Position le nom de la photo en temps normal */
	font-family: 'Indie Flower', cursive;
	font-size: 28px;
	margin: auto;
}

footer { /* Affichage du "copyright" */
	font-family: "Cantarell";
	text-align: center;
	padding: 20px;
	margin-top: 30px;
	background: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
