{{ define "title" }} {{ .Site.Title }} | {{ .Title }} {{ end }} {{ define "main"
}}
<!-- Imports for Codemirror. Must be before initializing codeblocks -->
<script src="/js/codemirror/codemirror.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/python.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/xml.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/css.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/javascript.js"></script>
<script type="text/javascript" src="/js/codemirror/mode/htmlmixed.js"></script>
<!-- Include the codemirror utils once per page -->
<script src="/js/codemirror_global.js"></script>

<div class="footer-list"></div>
<div class="article-title-box">
    <h1 class="article-title">{{ .Title }}</h1>
    <p class="article-subtitle">{{ .Params.subtitle }}</p>
    {{ if isset .Params "code_stub_url" }}
    <a href="{{ .Params.code_stub_url }}" class="code-stub-button" download
        >Code à compléter</a
    >
    {{ end }}
</div>
{{- $sectionDelimiter := "[SECTION-BREAK]" -}} {{- $ContentSections := split
.Content $sectionDelimiter -}} {{- if gt (len $ContentSections) 1 -}}
<div class="article-container-separated">
    <article class="container">
        <ol>
            {{ range $i, $num := (seq (len $ContentSections)) }}
            <a id="top"></a>
            <li id="section-{{ $num }}">
                {{ index $ContentSections $i | safeHTML }}
            </li>
            {{ end }}
        </ol>
    </article>
</div>
{{- else -}}
<div id="article-container">
    <aside class="toc">
        <div class="toc-title">Table des matières</div>
        {{ .TableOfContents }}
    </aside>
    <article class="container">{{ .Content }}</article>
</div>
{{- end -}}
<div class="footer">
    {{ if not .Page.IsNode }}
    <div class="footer-element">
        <div class="prev-button" style="cursor: pointer">
            <svg
                width="60px"
                height="80px"
                viewBox="0 0 50 80"
                xml:space="preserve"
            >
                <polyline
                    fill="none"
                    stroke="#000000"
                    stroke-width="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    points="
                        45,75 20,40 45,5 "
                />
            </svg>
        </div>
        <div class="next-button" style="cursor: pointer">
            <svg
                width="60px"
                height="80px"
                viewBox="0 0 50 80"
                xml:space="preserve"
            >
                <polyline
                    fill="none"
                    stroke="#000000"
                    stroke-width="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    points="
                        0,75 25,40 0,5 "
                />
            </svg>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
