html { /* Applique le fond "planche de bois" sur toute la page */
	background: fixed center / cover url('../img/fond.jpg');
}

figure { /* Ajoute un fond blanc aux éléments figure */
	background: #FFFFFF;
}

footer {
	background: #FFFFFF;
}
