<head>
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ "css/main.css" | absURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true,
            processEnvironments: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            TeX: { equationNumbers: { autoNumber: "AMS" },
                extensions: ["AMSmath.js", "AMSsymbols.js"] }
          }
        });
        </script>
</head>
