
h1, h2, h3, h4, h5, h6 {
    font-family: "Verdana", sans-serif;
    font-weight: 440;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

:root {
    --text-color: #282828;
    --bg-color: #f9f9f9;
    --header-color: #35479A;
    --bg-codeblock-color: #272822;
}

body {
    font-family: "Verdana", sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-y:scroll;
    position: relative;
}

main {
    margin-bottom: 200px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

[id^=section] {
    list-style: none;
}

/********************/
/****** header ******/
/********************/

header.site-header {
    background-color: var(--header-color);
    color: var(--bg-color);
    padding: 0.4em 1em;
    display: flex;
    align-items: center;
    height: 3.4em;
    justify-content: space-between;
}

header.site-header img {
    height: 45px;
    margin-right: 1em;
}

header.site-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

header.site-header li {
    padding: 0 15px;
}

/********************/
/****** content *****/
/********************/

.container {
    margin-left: auto;
    margin-right: auto;
    width: 868px;
}

.content :is(h1, h2, h3, h4, h5, h6) {
    padding-top: 25px;
}

h1.site-title {
    margin: 0;
    font-size: 1.4em;
}

h1.article-title {
    margin: 0;
    font-size: 3em;
}

.article-subtitle {
    color: #575757;
    font-weight: 500;
}

.article-title-box {
    height: 15em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ededed;
    margin-bottom: 4em;
}

#article-container  {
    display: flex;
    align-items: baseline;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-left: 50px;
}

a.code-stub-button {
    text-decoration: none;
    border-radius: 6px;
    background-color: var(--header-color);
    color: white;
    padding: 0.5em 0.8em;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    line-height: 28px;
}

.home-title-box {
    background-color: #222;
    color: whitesmoke;
    text-align: center;
    padding: 2em 0;
}

.site-header-title {
    margin: 0;
    font-size: 5em;
}

.site-header-subtitle {
    color: #ccc;
}

.article-list {
    list-style-type: none;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

.article-item {
    display: block;
    background: lightgray;
    margin: 1em 0;
    padding: 1em;
}

.article-item h2 {
    font-size: 1.2em;
    margin: 0;
}

.article-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0;
}

img {
    max-width: 100%;
}

figure {
  text-align: center;
}

figcaption {
    color: gray;
    font-size: 0.9em;
    margin-top: -15px;
}

.header-home-link {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.header-home-link:visited {
    color: inherit;
}

h1.header-menu {
    margin: 0;
    font-size: 1em;
    color: #d3d3d3;
}

details {
    border-radius: 4px;
    padding: .5em .5em 0;
    border: 1px solid #aaa;
    background-color: rgba(0, 0, 0, .04);
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details summary { 
    cursor: pointer;
}
  
details summary > * {
    display: inline;
}  

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

/********************/
/****** footer ******/
/********************/
.footer {
    position: sticky;
    bottom: 45%;
    width: 100%;
}

#article-container ~ .footer {
    display: none;
}

.fas {
    color: black;
}

.footer-element {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

[class^=footer-state] {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    bottom: 0;
    background-color: var(--bg-color);
    width: 100%;
}

.started {
    background-color: var(--header-color);
}
.ended {
    background-color: var(--header-color);
}




/********************/
/* table of content */
/********************/
.toc {
    position: sticky;
    top: 50px;
    margin: 20px;
    list-style: none;
    border-left: 4px solid var(--header-color);
    padding-left: 15px;
    border-radius: 5px;
}

.toc-title {
    font-weight: bold;
    font-size: 1.4em;
    color: var(--header-color);
    margin-top: 5px
}

.toc ul {
    list-style: none;
    padding: 15px;
    margin: 0;
    max-height: 75vh;
    overflow-y: auto;
}

.toc li {
    margin-bottom: 10px;
    margin-left: 0;
}

.toc a:any-link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.toc a:hover {
    color: grey;
}

.toc ul ul a:any-link {
    text-decoration: none;
    font-weight: normal;
}



/********************/
/**** code block ****/
/********************/

.code {
    background-color: var(--bg-codeblock-color);
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    place-content: space-between;
    padding: 10px;
}

code:not(pre>code) {
    background-color: #CECECE;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid #BCBEC0;
    padding: 1px;
    padding-bottom: .3px;
    font:.75em Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

.copy-button {
    background-color: var(--header-color);
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    right: 10px;
    position: sticky;
}

pre {
    margin: 0;
    padding-right: 10px;
}

pre code {
    white-space: pre;
    padding: 0;
    margin: 0;
}


.code::-webkit-scrollbar {
    height: 0;
}

/* exec */
.exec {
    background-color: #2e2e2e;
    max-width: 100%;
    min-width: 100px;
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 10px;
    padding: 10px;
    color: var(--bg-color);
    margin: 10px;
    position: relative;
    place-content: space-between;
    padding: 10px;
    color: var(--bg-color);
}

#yourcode {
    background-color: var(--bg-codeblock-color);
    color: var(--bg-color);
}

.exec-yourcode {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.yourcode-button {
    background-color: var(--header-color);
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    right: 20px;
    position: absolute;
}

.result {
    color: var(--bg-color);
    margin: 15px;
}

/********************/
/**** responsive ****/
/********************/

@media screen and (max-width: 1400px) {
    #article-container {
        display: block;
    }
    .toc {
        position: relative;
        margin: 10%;
    }
}


/********************/
/**** shortcodes ***/
/********************/

.exercice {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border-left: 8px solid limegreen;
    padding-left: 12px;
    border-radius: 5px;
}

.exercice :is(h1, h2, h3, h4, h5, h6)  {
    margin-top: 0;
    padding-top: 0;
}

.info {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border-left: 8px solid blue;
    padding-left: 12px;
    border-radius: 5px;
}

.info :is(h1, h2, h3, h4, h5, h6)  {
    margin-top: 0;
    padding-top: 0;
}


.exemple {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border-left: 8px solid gray;
    padding-left: 12px;
    border-radius: 5px;
}

.exemple :is(h1, h2, h3, h4, h5, h6)  {
    margin-top: 0;
    padding-top: 0;
}


.cours {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border-left: 8px solid red;
    padding-left: 12px;
    border-radius: 5px;
}

.cours :is(h1, h2, h3, h4, h5, h6)  {
    margin-top: 0;
    padding-top: 0;
}
