@font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/helveticaneue.woff2") format("woff2");
}

@font-face {
    font-family: "Helvetica";
    src: url("/fonts/helvetica.woff2") format("woff2");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", sans-serif;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

:root {
    --text-color: #282828;
    --bg-color: #f9f9f9;
    --header-color: #35479A;
}

body {
    font-family: "Helvetica", sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/********************/
/****** header ******/
/********************/

header.site-header {
    background-color: var(--header-color);
    color: var(--bg-color);
    padding: 0.4em 1em;
    display: flex;
    align-items: center;
    height: 3.4em;
    justify-content: space-between;
}

header.site-header img {
    width: 56px;
    margin-right: 1em;
}

header.site-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

header.site-header li {
    padding: 0 15px;
}

/********************/
/****** content *****/
/********************/

.container {
    margin-left: auto;
    margin-right: auto;
    width: 868px;
}

h1.site-title {
    margin: 0;
    font-size: 1.4em;
}

h1.article-title {
    margin: 0;
    font-size: 3em;
}

.article-subtitle {
    color: #575757;
    font-weight: 500;
}

.article-title-box {
    height: 15em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ededed;
    margin-bottom: 4em;
}

.article-container  {
    display: flex;
    align-items: baseline;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

a.code-stub-button {
    text-decoration: none;
    border-radius: 6px;
    background-color: var(--header-color);
    color: white;
    padding: 0.5em 0.8em;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    line-height: 28px;
}

.home-title-box {
    background-color: #222;
    color: whitesmoke;
    text-align: center;
    padding: 2em 0;
}

.site-header-title {
    margin: 0;
    font-size: 5em;
}

.site-header-subtitle {
    color: #ccc;
}

.article-list {
    list-style-type: none;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

.article-item {
    display: block;
    background: lightgray;
    margin: 1em 0;
    padding: 1em;
}

.article-item h2 {
    font-size: 1.2em;
    margin: 0;
}

.article-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0;
}

img {
    max-width: 100%;
}

.header-home-link {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.header-home-link:visited {
    color: inherit;
}

h1.header-menu {
    margin: 0;
    font-size: 1em;
    color: #d3d3d3;
}

/********************/
/* table of content */
/********************/
.toc {
    position: sticky;
    top: 20%;
    margin: 20px;
    list-style:none;
    border-left: 4px solid var(--header-color);
    padding-left: 15px;
    border-radius: 5px;
}

.toc-title {
    font-weight: bold;
    font-size: 1.4em;
}

.toc ul {
    list-style: none;
    padding: 15px;
    margin: 0;
}

.toc a:-webkit-any-link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.toc ul ul a:-webkit-any-link {
    text-decoration: underline;
    font-weight: normal;
}

.toc ul ul ul a:-webkit-any-link {
    text-decoration: none;
}


/********************/
/**** code block ****/
/********************/

.code {
    background-color: var(--text-color);
    white-space: pre;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    place-content: space-between;
    padding-bottom: 10px;
}



.copy-button {
    background-color: var(--header-color);
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    margin: 10px;
    right: 10px;
    position: sticky;
}

pre {
    margin-bottom: 0;
    padding-right: 10px;
}

pre code {
    white-space: pre;
    padding: 0;
    margin: 0;
}

.code::-webkit-scrollbar {
    height: 0;
}

/********************/
/**** responsive ****/
/********************/

@media screen and (max-width: 1400px) {
    .article-container {
        display: block;
    }
    .toc {
        position: relative;
        margin: 10%;
    }
}