<div class="exec">
    Écris ton code ici :
    <div class="exec-yourcode" style="color: white; display: block">
        <textarea id="code-html-input-{{.Ordinal}}" cols="90" rows="5">
{{ .Inner}}</textarea
        >
        <button
            class="yourcode-button"
            type="button"
            onclick="runIt(LANGS.HTML, {{.Ordinal}})"
        >
            Run
        </button>
        Le résultat :
        <br />
        <iframe
            class="result"
            style="background-color: white; width: 95%; height: 250px"
            id="code-html-output-{{.Ordinal}}"
        ></iframe>
    </div>
</div>

<script type="text/javascript">
    {
        // Code text area
        const textArea = document.getElementById(
            "code-html-input-{{.Ordinal}}"
        );
        // Codemirror object
        // Replace previous text area
        const codemirror = CodeMirror(
            function (elt) {
                textArea.parentNode.replaceChild(elt, textArea);
            },
            {
                value: textArea.value,
                mode: "htmlmixed",
                lineNumbers: true,
                tabSize: 4,
                theme: "monokai",
            }
        );
        const outputArea = document.getElementById(
            "code-html-output-{{.Ordinal}}"
        );

        const name = LANGS.HTML + "{{.Ordinal}}";
        const content = [codemirror, outputArea];

        addBlock(name, content);
    }
</script>
