<div class="exec">
    Écris ton code ici :
    <div class="exec-yourcode" style="color: white; display: block">
        <textarea id="code-python-input-{{.Ordinal}}" cols="90" rows="5">
{{ .Inner}}</textarea
        >
        <button
            class="yourcode-button"
            type="button"
            onclick="runIt(LANGS.PYTHON, {{.Ordinal}})"
        >
            Run
        </button>
    </div>
    Le résultat :
    <div class="result">
        <pre id="code-python-output-{{.Ordinal}}"></pre>
        <pre id="code-python-canvas-{{.Ordinal}}"></pre>
    </div>
</div>

<script type="text/javascript">
    {
        const textArea = document.getElementById(
            "code-python-input-{{.Ordinal}}"
        );
        // Codemirror object
        // Replace previous text area
        const codemirror = CodeMirror(
            function (elt) {
                textArea.parentNode.replaceChild(elt, textArea);
            },
            {
                value: textArea.value,
                mode: "python",
                lineNumbers: true,
                tabSize: 4,
                theme: "monokai",
            }
        );
        const outputArea = document.getElementById(
            "code-python-output-{{.Ordinal}}"
        );
        var canvas = "code-python-canvas-{{.Ordinal}}";

        const name = LANGS.PYTHON + "{{.Ordinal}}";
        const content = [codemirror, outputArea, canvas];

        addBlock(name, content);
    }
</script>
